.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../img/6.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px;
}
.contac_box{
    width: 100%;
    height: 100vh;
    display: flex;
}
.contac_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contac_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}
.inp{
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #fafafa;
    outline-color: #764AF1;
    padding: 5px 10px;
    font-weight: 100;
    background: rgba( 255, 255, 255, 0.3 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    margin: 10px 0px;
}
.textarea{
    border: none;
    border-radius: 5px;
    color: #fafafa;
    outline-color: #764AF1;
    padding: 5px 10px;
    font-weight: 100;
    background: rgba( 255, 255, 255, 0.3 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    margin: 10px 0px;
}

@media (max-width:800px) {
    .contac_box{
        flex-direction: column;
    }
    .contac_left{
        width: 100%;
    }
    .contac_right{
        width: 100%;
    }
}