.gallery{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery_glass{
    width: 80%;
    height: 80vh;
    border-radius: 30px;
    display: flex;
    background: rgba( 30, 30, 30, 0.75 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    overflow: hidden;
}
.gallery_left{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 15px;
}
.glass_right{
    width: 50%;
    height: 80vh;
    background: url(../img/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:800px) {
    .gallery_left{
        width: 100%;
    }
    .glass_right{
        display: none;
    }
}