.home{width: 100%;height: 100vh;background: url(../img/1.jpg);background-repeat: no-repeat;background-size: cover;display: flex;justify-content: center;align-items: center;flex-direction: column;}
.home_data{
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
}
.home_text{
    width: 320px;
    font-size: 20px;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    animation: 3s type;
}
.lorem{
    padding-top: 10px;
    font-size: 12px;
    font-weight: 100;
    animation: 3s opacity;
}

@media (max-width:800px) {
    .home_data{
        width: 100%;
    }
}