*{margin: 0; padding: 0; box-sizing: border-box; scroll-behavior: smooth;}
body{font-family: sans-serif; }

::-webkit-scrollbar{width: 2px;}
::-webkit-scrollbar-track{background-color: #fafafa;border-radius: 50px;}
::-webkit-scrollbar-thumb{background-color: #112B3C; border-radius: 50px;} 

.app{width: 100%; display: flex; flex-direction: column; }

.primary_color{color: #8479E1;}
.white_color{color: #fafafa;}
.main_bg{background-color: #112B3C;}

.btn_white{
    width: 120px;
    height: 33px;
    border: none;
    border-radius: 5px;
    color: #303030;
    background: #fafafa;
    margin: 10px 0px;
    transition: 0.7s;
    cursor: pointer;
}
.btn_white:hover{
    background: none;
    color: #fafafa;
    border: 1px solid #fafafa;
}

.btn_gold {background-image: linear-gradient(to right, #FF4E50 0%, #F9D423  51%, #FF4E50  100%)}
.btn_gold {
   margin: 10px 0px;
   width: 120px;
   height: 33px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: #303030;            
   border-radius: 5px;
   display: block;
   border: none;
   cursor: pointer;
 }

 .btn_gold:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   box-shadow: 0 0 20px #ffa700;
 }

 
 .btn_blue {background-image: linear-gradient(to right, #f4c4f3 0%, #fc67fa  51%, #f4c4f3  100%)}
 .btn_blue {
    margin: 10px 0px;
    width: 120px;
    height: 33px;
    border: none;
    text-align: center;
    color: #303030;
    transition: 0.5s;
    background-size: 200% auto;            
    border-radius: 5px;
    display: block;
    cursor: pointer;
  }

  .btn_blue:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px #eee;
  }
 


@keyframes type {
    0%{width: 0px; border-right: 3px solid;}
    100%{width: 330px; border-right: 0px;}
}

@keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

